.addBtn {
    background-color: var(--belle-blue);

    border: 5px var(--belle-black) solid;
    border-radius: 100%;

    padding: 0.25em;

    position: sticky;
    left: 90%;
    bottom: 0;

    width: fit-content;
    height: fit-content;
}

.plus {
    display: block;

    width: 2em;
}

.addForm {
    background-color: var(--belle-green);
    
    border: 5px var(--belle-black) solid;

    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    padding: 5px 10px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 3;
}

button.close {
    border: 1px black solid;
    align-self: self-start;
    left: 0%;
}

button.close img {
    width: 1em;
}

button.submit {
    padding: 5px;
}

.overlay {
    background-color: black;
    opacity: 50%;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
}

.rotate {
    transform: rotate(45deg);
}

.hidden {
    display: none;
}