.inventoryItem {
    font-size: small;

    width: 100px;

    display: flex;
    flex-direction: column;

    padding-top: 10px;
}

.inventoryItem div {
    width: 100%;

    display: flex;
}

input {
    width: 75%;
}

img {
    width: 100%;
}